VITE_API_URL=http://localhost:8000/api
VITE_FIREBASE_API_KEY="AIzaSyB-aQ8p6jnXm01DPiKH0_hv0xbnMEr2fFY"
VITE_FIREBASE_AUTH_DOMAIN="danaeventspark.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="danaeventspark"
VITE_FIREBASE_STORAGE_BUCKET="danaeventspark.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="153377648090"
VITE_FIREBASE_APP_ID="1:153377648090:web:116b0d162c335ed27064e3"
VITE_FIREBASE_MEASUREMENT_ID="G-C5EXL2B0P2"
